<div class="navbar-search">
  <div class="search-box">
  <div class="search-input">
    <input type="text" id="search-home">
    <div class="suggestions">
      <ul><ul>
    </div>
  </div>
</div>
  <ul class="menu">
    <li class="active">
      All
    </li>
    <li>EZTV</li>
    <li>YTS</li>
  </ul>
</div>