.list-statistics {
  display: flex;
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0.5em;

    .count {
      color:#5794b2;
    }

    .desc {
      color: #7ea1b2;
      font-weight: bold;
    }
  }
}