
.search-page-show {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;

 // search-box
   .search-box {
     margin-top: 0.5em;
     margin-left: 2em;
     align-items: flex-start;
   }

 }