<div class="search-box">
  <div class="search-input">
    <input type="text">
    <%image_tag 'search.svg'%>
  </div>
  <cite>
    with whom the kings of the earth and the earth’s inhabitants got drunk with the wine of her immorality.
  </cite>
</div>