<div class="search-page">

  <div class="search-box">
    <input type="text" placeholder="Search..." />
    <button>Search</button>
  </div>


  <div class="footer">
    BTC: 0000$, ETHERU: 100$
  </div>

</div>