<div class="search-page-show">
  <%=render 'search_page/show/navbar'%>
  <div class="columns">

    <div class="column">
      <div class="season">
        <p>Season 5<p>
      </div>
    </div>

    <div class="column">
      IMDB BOX
    </div>

  </div>
</div>