<div class="search-box">
  <div class="search-input">
    <input type="text" id="search-home">
    <div class="suggestions">
      <ul><ul>
    </div>
  </div>
  <cite>
    with whom the kings of the earth and the earth’s inhabitants got drunk with the wine of her immorality.
  </cite>
</div>